.dashboard-container {
    width: 80%;
    margin: 0 auto;
}

.transaction-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.transaction-item {
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition-duration: 0.3s, 0.3s;
}

.transaction-item:hover {
    background-color: #f0f0f0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.income-amount {
    color: rgb(37, 184, 37);
    font-weight: bold;
}

.expense-amount {
    color: rgb(215, 8, 8);
    font-weight: bold;
}

.transaction-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    width: 90%;
    max-width: 500px;
    transition: transform 0.3s ease-out;
}

.popup-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
}

h4 {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    color: #333333;
}

p {
    margin: 8px 0;
    color: #666666;
    font-size: 1.1rem;
}

strong {
    color: #333333;
    font-size: 1.1rem;
}

.closeButton {
    position: absolute;
    right: 10px;
    cursor: pointer;
    fill: gray;
    transition-duration: 0.2s;
}

.closeButton:hover {
    fill: #000000;
}

.controls {
    margin-bottom: 20px;
    width: 100%;
}


.filter-select,
.sort-select {
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

.date-filters{
    background-color: red;
    width: 100%;
}
.date-input {
    background-color: cyan;
    /* padding: 0; */
}