.dashboard-container {
    width: 80%;
    margin: 0 auto;
}

.transaction-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.transaction-item-main {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    transition-duration: 0.3s;
}

.transaction-item {
    background-color: #2b2b2b;
    border: 1px solid #444444;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    transition-duration: 0.3s;
    border-radius: 5px;
    color: #e0e0e0;
}

.transaction-item-main .control-options {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
}

.control-options .delete-icon {
    fill: rgb(215, 8, 8);
    transition-duration: 0.3s;
}

.control-options .delete-icon:hover {
    fill: #8d0000;
}

.control-options .edit-icon {
    fill: rgb(176, 176, 0);
    transition-duration: 0.3s;
}

.control-options .edit-icon:hover {
    fill: rgb(88, 88, 0);
}

.transaction-item:hover {
    background-color: #3c3c3c;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.income-amount {
    color: rgb(37, 184, 37);
    font-weight: bold;
}

.expense-amount {
    color: rgb(215, 8, 8);
    font-weight: bold;
}

.transaction-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2b2b2b;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
    z-index: 1000;
    width: 90%;
    max-width: 500px;
    transition-duration: 0.3s;
    color: #e0e0e0;
}

.popupContent {
    display: flex;
    flex-direction: column;
    position: relative;
}

.popupContent h4 {
    font-size: 1.5rem;
    color: #ffffff;
}

p {
    margin: 8px 0;
    color: #cccccc;
    font-size: 1.1rem;
}

strong {
    color: #ffffff;
    font-size: 1.1rem;
}

.closeButton {
    position: absolute;
    right: 10px;
    cursor: pointer;
    fill: #888888;
    transition-duration: 0.2s;
}

.closeButton:hover {
    fill: #ffffff;
}

.controls {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.filter-select,
.sort-select {
    padding: 8px;
    border: 1px solid #444444;
    border-radius: 5px;
    background-color: #3c3c3c;
    width: 48%;
    color: #e0e0e0;
}

.date-filters {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
    color: #e0e0e0;
}

.date-input {
    padding: 8px;
    border: 1px solid #444444;
    border-radius: 5px;
    background-color: #3c3c3c;
    color: #e0e0e0;
}