.homeContainer {
    display: flex;
    height: 100vh;
}

.sidebar {
    background-color: #333;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    /* align-items: flex-start;
    justify-content: flex-start; */
    gap: 10px;
    padding: 0px 2px 0px 2px;
    padding: 0px 20px 0px 20px;
    height: 100%;
}

.sidebar h2 {
    font-size: 24px;
    color: white;
}


.sidebar span {
    cursor: pointer;
    transition-duration: 0.3s;
    text-decoration: none;
    border-radius: 5px;
}

.tab {
    color: white;
    padding: 10px;
    font-weight: 100;
}

.tab:hover{
    transform: translateX(10px);
}
.tab.active {
    transform: translateX(10px);
    font-weight: 600;
}

.content {
    flex: 1;
    padding: 20px;
    background-color: #f5f5f5;
}

.content div {
    font-size: 24px;
    color: #333;
}

.logout {
    color: red;
    transition-duration: 300ms;
    padding: 10px;
    font-weight: 700;
}

.logout:hover {
    transform: translateX(10px)
}